NEXT_PUBLIC_SUPABASE_URL=https://vqburdordszzvcblswpf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxYnVyZG9yZHN6enZjYmxzd3BmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg1NTc1MDIsImV4cCI6MjA4NDEzMzUwMn0.afarN3e0U296xqJT7xXtBlzjRpkPfWuTy7tEjCYh8WA
STOCKBIT_JWT_TOKEN=eyJhbGciOiJSUzI1NiIsImtpZCI6IjU3MDc0NjI3LTg4MWItNDQzZC04OTcyLTdmMmMzOTNlMzYyOSIsInR5cCI6IkpXVCJ9.eyJkYXRhIjp7InVzZSI6InpoZXlhbmdnYSIsImVtYSI6ImRpZ2l0YWwubWFya2V0aW5nLmFuZ2dhQGdtYWlsLmNvbSIsImZ1bCI6IkFuZ2dhIE51Z3JhaGEiLCJzZXMiOiJLYW1HR3lmejhxNDVDNHpMIiwiZHZjIjoiZjIxOTRmZTY5MDU2ZTcwNzIxYzA3NzNiN2UyZTkyYTYiLCJ1aWQiOjE1MTk3NDUsImNvdSI6IlNHIn0sImV4cCI6MTc2OTA4NzA3NywiaWF0IjoxNzY5MDAwNjc3LCJpc3MiOiJTVE9DS0JJVCIsImp0aSI6IjJmMjc5ZWJmLTY3YTYtNGU3MS1hMzcxLWM2NDdkMGViZmI1ZiIsIm5iZiI6MTc2OTAwMDY3NywidmVyIjoidjEifQ.GsyYdIWReNVsRVZMRatl-jf9zPZsQIIiSW3dHiYOPhL6tzWVHjr46mLfHOM3F8LYpk19UrHyUaN9YueSQI7lMjEH4JZg7ZSBqVwyld4VPNbQDY5-k1KlVYSgs3aPsXtHoOpQjD8Tf4PZatt-jve7obrVdpZ7razvXTct3OWHXvJxunq_NpO2SPIT2Z8B1IGrfTfjngk7uYa69gn8_kZVXt6OqllBG12b_8ZyPJwslu5QLM70hzeg0KFhd17N-4n4O_lJrPpMXD2Sdf0WfAjJmCvGw43gBIfJD4TNg32eKxmIiuvQUkBjO0zOFBEeHzlTf79wmzk-4opafcCIqRJ9GA
CRON_SECRET=
GEMINI_API_KEY=AIzaSyDbZ_vsTRbmLcL-FOvdXD-IYoYYd4j5w00
NETLIFY_FUNCTION_URL= 